@keyframes mushroom {
  0% {
    left: 110%;
  }
  100% {
    left: -20%;
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20vw);
  }
}

@keyframes clouds {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-100%);
  }
}
