@font-face {
    font-family: "Lepka";
    src: url("../fonts/LEPKA.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-size: normal;
    font-weight: 400;
}